.about-header {
  width: 100%;
  height: 23vh;
}

.abouthdr-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.384);
}
