.home-main {
  width: 100%;
}

.home-main-header {
  margin: 5rem auto 3rem auto;
  width: 600px;
  font-size: 2rem;
  text-align: center;
  font-family: hero-new, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(49, 63, 70);
}

.hmh-hr {
  width: 73%;
  padding: 0.9px 0;
  border: none;
  background: rgb(126, 151, 163);
}

.hmain-section-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 5rem auto;
  justify-items: center;
}

.hannah-image {
  width: 500px;
  height: 350px;
}

.home-main-paras {
  width: 500px;
  color: rgb(77, 100, 110);
  line-height: 2rem;
  text-align: justify;
}

/* FORM */
.mortgage {
  display: grid;
  grid-template-columns: 1fr;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 200px;
  margin: 10rem;
}
