.home-main {
  width: 100%;
  position: relative;
  padding: 1rem 0 0rem 0;
  margin: 95vh 0 21.75rem 0;
  z-index: 1;
  background: #fff;
}

.home-main-header {
  margin: 5rem auto 3rem auto;
  width: 600px;
  font-size: 2rem;
  text-align: center;
  font-family: hero-new, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(49, 63, 70);
}

.hmh-hr {
  width: 73%;
  padding: 0.9px 0;
  border: none;
  background: rgb(126, 151, 163);
}

.tester {
  width: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 4rem auto;
  text-align: center;
  color: rgb(49, 63, 70);
}

.hmainsecuno-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hmainsecuno-flex {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.hover-div-one {
  position: absolute;
  color: #fff;
  width: 600px;
  height: 300px;
  transition: 0.3s all ease-in-out;
}

.hover-div-one:hover {
  background: rgba(0, 0, 0, 0.39);
  cursor: pointer;
  width: 600px;
  animation: slideover;
  animation-duration: 0.5s;
}

.hover-div-one:hover::after {
  background: rgba(0, 0, 0, 0.185);
  content: "Minneapolis Condos Directory";
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  font-size: 2rem;
  transition: 0.3s all ease-in-out;
}

.minCondo {
  width: 600px;
  height: 300px;
}

.hover-div-two {
  position: absolute;
  color: #fff;
  width: 600px;
  height: 300px;
  transition: 0.3s all ease-in-out;
}

.hover-div-two:hover {
  background: rgba(0, 0, 0, 0.39);
  cursor: pointer;
  animation: slideover;
  animation-duration: 0.5s;
}

.hover-div-two:hover::after {
  background: rgba(0, 0, 0, 0.185);
  content: "St. Paul Condos Directory";
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  font-size: 2rem;
  transition: 0.3s all ease-in-out;
}

@keyframes slideover {
  0% {
    /* transform: translateX(0); */
    opacity: 0;
  }
  100% {
    width: 600px;
    opacity: 1;
  }
}

.stpCondo {
  width: 600px;
  height: 300px;
}

.hideImage {
  visibility: hidden;
}

.condoscroll {
  animation-name: imageUp;
  animation-duration: 1s;
}

@keyframes imageUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.parascroll {
  animation-name: appearingPara;
  animation-duration: 1.5s;
}

@keyframes appearingPara {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* SECTION TWO */

.services {
  width: 600px;
  margin: 10rem auto 5rem auto;
  text-align: right;
  color: rgb(49, 63, 70);
}

.services-header {
  margin: 0;
  font-size: 1.8rem;
}

.services-paragraph {
  margin: 0;
}

.icon-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: 80%;
}

.icon-container-grid > div {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 0 0 2rem 0;
  width: 80%;
}

.six-icon {
  width: 5rem;
}

.hideIcon {
  visibility: hidden;
}

.iOnescroll {
  animation-name: iconUp;
  animation-duration: 1s;
  animation-delay: 0.1s;
}

.iTwoscroll {
  animation-name: iconUp;
  animation-duration: 1s;
  animation-delay: 0.2s;
}

.iThreescroll {
  animation-name: iconUp;
  animation-duration: 1s;
  animation-delay: 0.3s;
}

.iFourscroll {
  animation-name: iconUp;
  animation-duration: 1s;
  animation-delay: 0.4s;
}

.iFivescroll {
  animation-name: iconUp;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

.iSixscroll {
  animation-name: iconUp;
  animation-duration: 1s;
  animation-delay: 0.6s;
}

@keyframes iconUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hidePara {
  visibility: hidden;
}

.pscroll {
  animation-name: paraUp;
  animation-duration: 2s;
  animation-delay: 1s;
}

@keyframes paraUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* SECTION THREE */
.bolded-text {
  font-weight: 700;
}

.home-second-header {
  margin: 5rem auto 3rem auto;
  width: 80%;
  font-size: 2rem;
  text-align: center;
  font-family: hero-new, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(49, 63, 70);
}

.hmain-section-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 5rem auto 5rem auto;
  border-radius: 5px;
  border: 1px solid rgba(192, 11, 11, 0.11);
  background: #fff3f0;
  box-shadow: 0px 0px 15px rgba(63, 48, 45, 0.116);
}

/* FORM */
.form-section-container {
  grid-column: 1;
  width: 100%;
  padding: 0 0.4px;
  color: rgb(87, 100, 107);
  display: grid;
  border-right: 1px solid rgba(175, 29, 29, 0.137);
  grid-template-columns: 1fr;
}

.enter-details-para {
  margin: 1rem 3rem 0 3rem;
  text-align: justify;
  justify-self: center;
}

.mortgage-form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0rem 0 3.5rem 0;
  justify-items: center;
  width: 340px;
  background: #fff2ee;
  height: 390px;
  overflow-y: scroll;
}

.mortgage-form::-webkit-scrollbar {
  width: 0.5rem;
}
.mortgage-form::-webkit-scrollbar-track {
  background: #f8fffe;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.226);
}
.mortgage-form::-webkit-scrollbar-thumb {
  background-color: rgb(173, 199, 211);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

label {
  margin: 0.75rem 0;
  color: rgb(65, 78, 80);
  font-size: 1.1rem;
}

input {
  display: block;
  width: 250px;
  margin: 0.5rem 0;
  border: none;
  color: rgb(48, 55, 95);
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.096);
}

select {
  display: block;
  font-size: 1rem;
  padding: 0.25rem 0;
  color: rgb(86, 92, 97);
  width: 260px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-width {
  width: 260px;
  box-shadow: 0 0 0 black;
}

.graph-section-container {
  position: relative;
  grid-column: 2/5;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  color: rgb(87, 100, 107);
}

.graph-h3 {
  font-size: 2rem;
  margin: 32px 0 0 0;
}

.graph-para {
  margin: 0 0 24px 0;
  font-size: 1.5rem;
}

svg:not(:root) {
  overflow: visible;
}

.graph-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.annIns-container {
  grid-column: 1;
  grid-row: 1;
}

.annIns-permonth {
  font-size: 1.75rem;
  font-weight: bold;
  color: #0a1045;
}

.tax-container {
  grid-column: 1;
  grid-row: 1;
  margin: 9rem 0 0 0;
}

.tax-permonth {
  font-size: 1.75rem;
  font-weight: bold;
  color: #00c2d1;
}

.Pie {
  grid-row: 1;
  grid-column: 2;
}

.total-container {
  position: relative;
  grid-column: 2;
  top: -13rem;
}

.total-permonth {
  font-size: 2rem;
  font-weight: bold;
  /* B08EA2, FAC9B8, FCEFF9 */
  color: #ce6300;
}

.mortgage-price-container {
  grid-column: 3;
  grid-row: 1;
  margin: 5rem 0 0 0;
}

.mortgage-para,
.tax-para,
.annIns-para {
  font-size: 1.5rem;
}

.mortgage-permonth {
  font-size: 1.75rem;
  font-weight: bold;
  color: #afdf2c;
}
